doctype html 
html 
  head 
    title Silky Dance Academy 
    block scripts 
    block style 
  body 
    nav#navbar
        ul
            div#logo
                img(src="/static/img/1st.jpg")
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content 
      